#btns {
  width: 75%;
}

#btns div {
  width: 30%;
  height: 48px;
  font-size: 24px;
  display:inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: rgb(219, 157, 151);
}
