body {
  text-align: center;
}

#loginicon {
  width: 40px;
  position: relative;
  bottom: 35px;
  border-radius: 100%;
  box-shadow: 5px 8px 5px rgb(124, 123, 123);
}

main {
  border: 1px solid black;
  width: fit-content;
  padding: 10px 50px 15px;
  margin: 100px auto;
  background-color:rgb(241, 239, 239);
  box-shadow: 5px 10px 5px rgb(124, 123, 123);
}

h2{
  font-size: 18px;
  margin-top:0px;
  margin-bottom: 40px;
}

input {
  width:150px;
  display: block;
  margin: 0px auto 30px;
  padding:10px 10px;
  border: none;
}

.name_password {
  background-color: lightgrey;
}

#login {
  padding: 10px 0px;
  color:white;
  width:180px;
  margin-bottom: 40px;
  background-color: rgb(55, 202, 251);
}

/* pseudo-element */
::placeholder {
  text-align: center;
  padding:10px 0px;
}

p {
  color: orange;
}
