body {
  text-align: center;
}

#loginicon {
  position: relative;
  bottom: 40px;
  border-radius: 100%;
  border:5px solid #333;
  border: none;
  box-shadow: 5px 8px 5px rgb(124, 123, 123);
}

main {
  border: 1px solid black;
  width: fit-content;
  padding: 20px 60px;
  margin: 100px auto;
  background-color:rgb(238, 237, 237);
  box-shadow: 5px 10px 5px rgb(124, 123, 123);
}


h2{
  font-size: 20px;
  padding: 20px 0px;
}

input {
  width:150px;
  display: block;
  margin: auto auto 30px;
  padding:10px 10px;
  border: none;
}

.name_password {
  background-color: lightgrey;
}

#login {
  padding: 10px 0px;
  color:white;
  width:180px;
  margin-bottom: 40px;
  background-color: rgb(55, 202, 251);
}

::placeholder {
  text-align: center;
  padding:10px 0px;
}

p {
  color: orange;
}
