section {
  width: 130px;
  height: 100px;
  margin-bottom: 10px;
}

#box1 {
  background-color: green;
  transition-property: background-color;
  transition-duration: 2s;
}
#box1:hover {
  background-color: lightskyblue;
}
#box2 {
  background-color: yellow;
  transition-property: font-size;
  transition-duration: 2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box2:hover {
  font-size: 50px;
}
#box3 {
  background-color: pink;
  transition-property: width, height;
  transition-duration: 2s;
}
#box3:hover {
  width: 200px;
  height: 200px;
}
#box4 {
  background-color: blue;
  transition-duration: 0.6s;
}
#box4:hover {
  transform: translateX(100px);
}
#box5 {
  background-color: red;
  transition-duration: 3s;
}
#box5:hover {
  transform:rotate(360deg);
}
#box6 {
  color: black;
  background-color: white;
  border-width: 1px;
  border-color: #4284F4;
  border-style:solid;
  transition-property:color, background-color, border-color, border-style, border-width, transform;
  transition-duration: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  width:fit-content;
  padding: 0 10px;
}
#box6:hover {
  color: white;
  background-color: black;
  border-color: #FFAB40;
  border-width: 15px;
  border-style:solid;
  transform:rotate(360deg);
}
